export(NetGSA,
       edgelist2adj,
       netEst.dir,
       netEst.undir,
       bic.netEst.undir)
import(corpcor, Matrix, glmnet, glasso, igraph)
importFrom("stats", "coef", "cov", "lm", "pf", "pt", "qnorm",
            "residuals", "sd")
importFrom("utils", "read.table")
